[Unit]
Description=name-yout-startup.site site application

[Service]
WorkingDirectory=/var/www/name-your-startup.site
ExecStart=/usr/bin/mono /var/www/name-your-startup.site/nys.selfhosted.exe
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=name-your-site
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target