<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="verbose" value="${counter} | ${longdate} | ${level} | ${callsite}[${threadid}] | ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=100:innerExceptionSeparator=---:separator=|}" />
  <variable name="brief" value="${counter} | ${longdate} | ${level} | ${logger} | ${message}" />
  <targets async="true">
    <target
      name="all.file"
      xsi:type="File"
      encoding="utf-8"
      layout="${brief}"
      maxArchiveFiles="100"
      archiveFileName="${logDirectory}/${shortdate}.log.{####}"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      ArchiveOldFileOnStartup="true"
      fileName="${logDirectory}/${shortdate}.log"/>
    <target xsi:type="Console"
      name="console"
      layout="${brief}"/>
  </targets>
  <rules>
    <logger name="nys.*" minlevel="Debug" writeTo="all.file"/>
    <logger name="nys.*" minlevel="Debug" writeTo="console"/>
  </rules>
</nlog>
