@{
    ViewData["Title"] = "Name your site";
}

<div class="cover-container">
    
    <div class="inner cover">
        <h1 class="cover-heading">Get <br /><small>the <u>unique</u> name for your site <br />just in one minute!</small></h1>

        <div class="items-container"></div>

        <p class="lead">
            <button id="loadMore" type="button" class="btn btn-lg btn-secondary">Get more</button>
        </p>
    </div>
    <div class="mastfoot">
        <div class="inner" style="padding: 0;">
            <p>Powered by <a href="http://aska.one" target="_blank">aska.one</a>.</p>
        </div>
    </div>
</div>